<%- include ("partials/header"); -%>

<h1>Contact</h1> 
<p><%= contactStart %></p>

<p>Connect with me:</p>
<ul>
    <li><a href="https://www.linkedin.com/in/devin-beach/">LinkedIn</a></li>
    <li><a href="https://github.com/d-beach">GitHub</a></li>
</ul>

<%- include ("partials/footer"); -%>